# Imperial Environment Secret Vault
OPENROUTER_API_KEY=
GEMINI_API_KEY=

# Sovereign Payments
NOWPAYMENTS_API_KEY=
NOWPAYMENTS_PUBLIC_KEY=
NOWPAYMENTS_IPN_SECRET=

# Imperial Protocols
GATEWAY_BYPASS_TOKEN=
